@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #222525,
    
}

/* headings and logo */

header {
    height: 100px;
    width: 100%;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #232323; 
    letter-spacing: 2px;
}

#team-name {
    float: left;
    font-size: 40px;
    margin: 25px;
}


/* Menu Elements */

#menu {
    padding: 7.5px 0;
    font-size: 1.5em;
    letter-spacing: 2px;
    float: right;
    margin: 25px;
}

#menu li {
    list-style-type: none;
    margin-right: 20px;
    float: left;
}

#menu a {
    text-decoration: none;
    color: #222525;
}

#menu a:hover {
    border-bottom: 2px solid #222525;
}

.active {
    border-bottom: 2px solid #222525;
}

/* Main Image */

#front_image {
    margin: 0 25px;
    height: 450px;
    background: url(../images/paul\ 2.jpg) no-repeat center center;
    border-radius: 20px;
}

/* About our club section */

#about-club {
    height: 350px;
    margin: 20px;
    font-size: 1.25em;
}

#about-club h1 {
    color: #222525;
    padding-top: 25px;
    text-align: center;
}

#about-club div {
    padding-left: 25px;
}

.left {
    float: left;
    width: 45%;
    padding: 25px 25px 0 0;
}

.right {
    float: right;
    width: 45%;
    padding: 25px 25px 0 0;
}

#pitch {
    height: 600px;
    font-size: 1.25em;
}

#pitch h1{
    color: #222525;
    padding-top: 25px;
    text-align: center;
}

/* Google maps*/

.mapouter {
    width: 97vw;
    position:absolute;
    padding: 25px 25px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
}

/* Footer */
#social {
    height: 150px;
    text-align: center;
    padding-top: 20px;
}

#social i {
    color: #222525;
}

#social h2 {
    color: #222525;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
}

#facebook {    
    display: inline;
    margin: 50px;
    font-size: 200%;
}

#instagram { 
    display: inline;
    margin: 50px;
    font-size: 200%;
}

#twitter { 
    display: inline;
    margin: 50px;
    font-size: 200%;
}

/* volunteers page */
#volunteers {
    height: 400px;
    width: calc(100% - 50px);
    column-count: 3;
    column-gap: 25px;
    margin: 0 25px;
}

#volunteers img {
    height: 380px;
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
}

    #imageone {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }

    #imagetwo {
        animation: fadeInAnimation ease 7s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        }

    #imagethree {
        animation: fadeInAnimation ease 10s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
            }

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#help-us-text {
    height: 300px;
    padding-top: 50px;
    width: 50%;
    display: inline-block;
    text-align: center;
}

#help-us-text h1{
    text-align: center;
}

#help-us-text p{
    font-size: 1.25em;
}

#leave-details {
    display: inline-block;
    height: 300px;
    padding-top: 50px;
    width: 50%;
    float: right;
}

#leave-details p{
    font-size: 1.25em;
}

/* Input fields */

form {
    padding-left: 25px;
}

.form-volunteer {
    border: solid 2px black;
    border-radius: 5px;
    padding:5px;
    width: 300px;
}

label {
    margin-bottom: 10px;
    font-size: 1.25em;
}

input {
    display: block;
    padding-left: 5px;
    margin-bottom: 20px;
}

#submit-button {
    border: solid 2px black;
    border-radius: 5px;
    color: black;
    padding:5px;
    font-weight: bold;
    width: 150px;
    margin-top: 30px;
    margin-left: 75px;
}

/* Membership page*/

#membership-images {
    height: 400px;
    width: calc(100% - 50px);
    column-count: 3;
    column-gap: 50px;
    margin: 0 25px;
}

#membership-images img {
    height: 380px;
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
}

#membership-images-right {
    height: 400px;
    width: 50%;
    float: right;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#membership {
    margin: 25px;
}

#membership-cover {
    font-size: 1.25em;
}

#membership-cover h1 {
    padding:25px 0 10px 25px;
}

#membership-cover li {
    line-height: 35px;
    text-indent: 50px;
    padding-top: 10px
}

#memb-btm-p {
    text-align: center;
    height: 175px;
    font-size: 1.25em;
    padding: 25px 25px;
}

#memb-cost {
    width: 600px;
    margin: 0 auto;
    height: 215px;
    padding: 25px 0px;
}

table {
    width: 600px;
    font-size: 1.25em;
    text-align: center;
}

th, td {
    border: 2px solid #222525;
    padding: 10px;
}

#payment-links {
    height: 100px;
    text-align: center;
    padding: 15px 0 25px 0;
}

#paypal {    
    display: inline;
    margin: 30px;
    font-size: 400%;
    color: rgba(6, 6, 242, 0.885);
}

#stripe {    
    display: inline;
    margin: 30px;
    font-size: 400%;
    color: rgba(76, 0, 255, 0.885);
}

#volunteer {

}